replication/
reports/
reuters_app/
data/
.Rproj.user/
figures/old/
Rscripts/testing/
processed_data/desktop
processed_data/both
processed_data/mobile
processed_data/zz_old
figures/
Rscripts/99_testing.R
Rscripts/00_process_data.R
Rscripts/01_create_networks.R
Rscripts/02_analyze_networks.R
Rscripts/03_analyze_data.R
Rscripts/old/
